<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather to Wear - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body class="m-0 p-0 font-sans">
    <!-- {% if session.get('logged_in') %}
    <a href="/otp/logout">Logout</a>
    {% endif %} -->
    {% block content %}{% endblock %}
</body>

</html>